/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.output-image {
    max-width: 400px;
    max-height: 300px;
}

.invalid-card {
    box-shadow: 0px 0px 0px 2px rgba(255, 0, 0, 1);
}